<!doctype>
<html>
<body>
<table>
    <tr>
        <td colspan="3">
            Banner top
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <h3>Bonjour {{userName}}</h3>
            <p>Votre fichier {{nomFichier}} a été convertie avec succès vous pouvez dès a présent le télécharger sur <a
                    href="http://deadpineapple.com/user">votre interface utilisateurs</a> de Dead pineapple ou grace ou lien ci
                dessous :</p>
        </td>
    </tr>
    <tr>
        <td width="33%"></td>
        <td width="34%"><a href="{{lienDl}}">
            <img src="{{lienImg}}" alt="lien de téléchargement {{nomFichier}}"/>
        </a>
        </td>
        <td width="33%"></td>

    </tr>
    <tr style="text-align:center;">
        <td><a href="#">Pourquoi je reçois ce mail?</a></td>
        <td><a href="#">Dead pineapple corp.</a></td>
        <td><a href="#">Pourquoi je reçois ce mail?</a></td>
    </tr>
    <tr height="30px">
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3" style="color:#fff;background:#333;">
            <table>
                <tr>
                    <td><img src="" alt="logo"/></td>
                    <td>
                        <p style="margin:7px;margin-bottom:0;">Dead pineapple corp.</p>
                        <p style="margin:7px;margin-top:0;">42 rue de l'ananas - 75017 Paris</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
</body>
</html>